body{
    padding: 100px;
}
.submit-area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 50px;
}

#transaction-area{
    display: none;
}
.deposit{
    background: #5e4fc6;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    
    
}
.withdraw{
    background: #f09671;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    
    
}
.balance{
    background: #f09b02;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    
}
.area{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 20px;
}